<div class="row justify-content-center py-5 mb-5">
  <div class="col-12 col-md-10 col-lg-5 mb-5 mb-lg-0 text-center text-lg-left">
    <img
      src="{{root}}assets/img/about_picture.png"
      class="w-100 wow fadeInUp text-center mt-5 mt-xl-0"
      data-wow-duration="1s"
      data-wow-delay="0.35s"
      alt="picture"
      loading="lazy"
    />
  </div>
  <div class="col-12 col-md-10 col-lg-7 mt-xl-3 text-left">
    <h2
      class="my-4 pl-lg-5 text-primary wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.4s"
    >
      Вклад в развитие технологий
    </h2>
    <p
      class="lead pr-0 pr-lg-5 pl-lg-5 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.45s"
    >
      В наши дни технологии развиваются с очень большой скоростью, инженеры
      работают над новыми проектами, а также над усовершенствованием уже
      имеющихся технологий, чтобы они могли отвечать за безопасную добычу,
      хранение, использование и транспортировку природных ресурсов.
    </p>
  </div>
</div>

<div class="row highlight p-3 p-md-5 rounded wow fadeIn mb-5">
  <div class="col-12 col-md-9 col-lg-7 col-xl-5 pt-2 pb-5">
    <p
      class="lead text-primary mb-5 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.45s"
    >
      Мы в <strong>«Optimum Machinery Trading CO.L.L.C»</strong><br />
      всегда идём нога в ногу с&nbsp;самыми продвинутыми технологиями и помогаем
      нашим клиентам подобрать именно то, что им нужно для процветания их
      химической промышленности.
    </p>
  </div>
</div>

{{> strategy }} {{> eco }}
