<div class="row overflow-hidden pr-0">
  <div class="col-12 col-lg-8">
    <h1
      class="wow fadeInUp text-white"
      data-wow-duration="1s"
      data-wow-delay="0.35s"
    >
      ОPTIMUM MACHINERY TRADING CO.L.L.C.
    </h1>
    <div class="row">
      <div class="col-10 col-md-5 col-lg-9">
        <p
          class="lead text-white my-2 my-md-3 py-2 py-md-3 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0.5s"
        >
          Мы компания которая поможет вам найти подходящее оборудование для
          вашего производства, а также сможет найти и обеспечить вас нужным для
          вас запчастями в&nbsp;самые&nbsp;короткие сроки.
        </p>
        <a
          href="#services"
          class="btn btn-primary btn-lg mt-4 mt-md-5 px-4 py-2 text-white wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0.45s"
        >
          Подробнее
        </a>
      </div>
    </div>
  </div>
</div>
