<div class="row overflow-hidden pr-0">
  <div class="col-11 col-md-10 col-lg-8">
    <h1
      class="wow fadeInUp text-white"
      data-wow-duration="1s"
      data-wow-delay="0.35s"
    >
      ОPTIMUM MACHINERY TRADING CO.L.L.C.
    </h1>
    <div class="row">
      <div class="col-12 col-md-8 col-lg-10">
        <p
          class="lead text-white my-2 my-md-3 py-2 py-md-3 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0.5s"
        >
          We are a company that will help you to find the right equipment for
          your production and will also be able to find and provide the spare
          parts you need in the shortest possible time.
        </p>
        <a
          href="#services"
          class="btn btn-primary btn-lg mt-4 mt-md-5 px-4 py-2 text-white wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0.45s"
        >
          Read more
        </a>
      </div>
    </div>
  </div>
</div>
