<div class="row eco px-3 py-4 p-lg-5 rounded wow fadeIn">
  <div class="col-12 col-md-8 col-lg-7 col-xl-5">
    <h2
      class="text-white mb-5 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.45s"
    >
      Together we can make this world more environmentally friendly for many
      generations to come!
    </h2>
    <p
      class="lead text-white mb-3 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.45s"
    >
      We help our clients achieve sustainable development and move towards a
      green economy.
    </p>
    <p
      class="lead text-white wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.45s"
    >
      Constantly improving our service, we remain reliable suppliers of
      innovative technologies and&nbsp;spare parts for them.
    </p>
  </div>
</div>
