<div class="row eco p-5 rounded wow fadeIn">
  <div class="col-5">
    <h2
      class="text-white mb-5 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.45s"
    >
      Вместе мы можем сделать этот мир более экологичным для многих грядущих
      поколений!
    </h2>
    <p
      class="lead text-white mb-3 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.45s"
    >
      Мы помогаем нашим клиентам достичь устойчивого развития и двигаться по
      направлению к зелёной экономике.
    </p>
    <p
      class="lead text-white wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.45s"
    >
      Постоянно улучшая наш сервис, мы остаёмся надёжными поставщиками
      инновационных технологий и запчастей для них.
    </p>
  </div>
</div>
