<div class="row eco px-3 py-4 p-lg-5 rounded wow fadeIn">
  <div class="col-12 col-md-8 col-lg-7 col-xl-5">
    <h2
      class="text-white mb-5 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.45s"
    >
      Вместе мы можем сделать этот мир более экологичным для многих грядущих
      поколений!
    </h2>
    <p
      class="lead text-white mb-3 wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.45s"
    >
      Мы помогаем нашим клиентам достичь устойчивого развития и&nbsp;двигаться по
      направлению к&nbsp;зелёной экономике.
    </p>
    <p
      class="lead text-white wow fadeInUp"
      data-wow-duration="1s"
      data-wow-delay="0.45s"
    >
      Постоянно улучшая наш сервис, мы остаёмся надёжными поставщиками
      инновационных технологий и&nbsp;запчастей для&nbsp;них.
    </p>
  </div>
</div>
