<footer class="footer pb-2">
  <div class="container">
    <nav id="footernav" class="mb-2">{{> nav_both}}</nav>
    <div class="font-weight-light text-center text-md-left small pl-md-3">
      © 2023 Optimum Machinery Trading CO.L.L.C. Все права защищены.
    </div>
  </div>
</footer>
<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/main.js"></script>
<!-- endbuild -->
