<input type="checkbox" id="myInput" />
<label for="myInput" class="menu-label">
  <span class="bar top"></span>
  <span class="bar middle"></span>
  <span class="bar bottom"></span>
</label>
<aside>
  <div class="aside-section aside-right">
    <ul class="aside-list">
      <li>
        <a href="#about" class="aside-anchor py-2 font-weight-normal">About Us</a>
      </li>
      <li>
        <a href="#services" class="aside-anchor py-2 font-weight-normal"
          >Our Services</a
        >
      </li>
      <li>
        <a href="#contacts" class="aside-anchor py-2 font-weight-normal"
          >Contacts</a
        >
      </li>
    </ul>
    <div class="px-5 pt-4">
      <hr />
      <p class="pt-3 mb-3 font-weight-bold">
        ОPTIMUM MACHINERY TRADING&nbsp;CO.L.L.C.
      </p>

      <p class="mb-4">
        <strong>Address:</strong><br />
        <span class="small"
          >Palm Strip Shopping Mall,<br />332-1077, office G18-09,<br />Dubai,
          UAE</span
        >
      </p>
      <p class="font-weight-bold">E-mail:&nbsp;</p>
      <a href="mailto:info@viaappiauae.com" class="mb-4 d-block"
        >info@domain.com</a
      >
      <p class="font-weight-bold">Phone:&nbsp;</p>
      <a href="tel:+97145831745" class="mb-4 d-block">+971 4 583 1745</a>
    </div>
  </div>
</aside>
