<h2
  class="text-gray text-center text-uppercase mb-5 wow fadeInUp"
  data-wow-duration="1s"
  data-wow-delay="0.36s"
>
  Наши Услуги
</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 pt-5">
  <div class="col mb-5 px-3">
    <div class="card border-0">
      <div class="info-text">
        <img src="{{root}}assets/img/info.svg" />
        <div class="tooltip">
          Краткое описание услуги краткое описание услуги краткое услуги
          описание краткое описание услуги краткое описание
        </div>
      </div>
      <img
        src="{{root}}assets/img/1.svg"
        class="align-self-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0s"
        data-wow-offset="75"
        height="90"
        alt="crane-icon"
      />
      <div class="card-body text-center">
        <p
          class="text-uppercase wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          ОБОРУДОВАНИЕ ДЛЯ БУРЕНИЯ СКВАЖИН
        </p>
      </div>
    </div>
  </div>

  <div class="col mb-5 px-3">
    <div class="card border-0">
      <div class="info-text">
        <img src="{{root}}assets/img/info.svg" />
        <div class="tooltip">
          Краткое описание услуги краткое описание услуги краткое услуги
          описание краткое описание услуги краткое описание
        </div>
      </div>
      <img
        src="{{root}}assets/img/2.svg"
        class="align-self-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0s"
        data-wow-offset="75"
        height="90"
        alt="excavator-icon"
      />
      <div class="card-body text-center">
        <p
          class="text-uppercase wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          ОБОРУДОВАНИЕ ДЛЯ ПРОМЫШЛЕННЫХ ПРЕДПРИЯТИЙ
        </p>
      </div>
    </div>
  </div>

  <div class="col mb-5 px-3">
    <div class="card border-0">
      <div class="info-text">
        <img src="{{root}}assets/img/info.svg" />
        <div class="tooltip">
          Краткое описание услуги краткое описание услуги краткое услуги
          описание краткое описание услуги краткое описание
        </div>
      </div>
      <img
        src="{{root}}assets/img/3.svg"
        class="align-self-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0s"
        data-wow-offset="75"
        height="90"
        alt="crawler-icon"
      />
      <div class="card-body text-center">
        <p
          class="text-uppercase wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          НЕФТЕПРОМЫСЛОВОЕ И ГАЗОВОЕ ОБОРУДОВАНИЕ
        </p>
      </div>
    </div>
  </div>

  <div class="col mb-5 px-3">
    <div class="card border-0">
      <div class="info-text">
        <img src="{{root}}assets/img/info.svg" />
        <div class="tooltip">
          Краткое описание услуги краткое описание услуги краткое услуги
          описание краткое описание услуги краткое описание
        </div>
      </div>
      <img
        src="./{{root}}assets/img/4.svg"
        class="align-self-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0s"
        data-wow-offset="75"
        height="90"
        alt="dumper-icon"
      />
      <div class="card-body text-center">
        <p
          class="text-uppercase wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          ОБОРУДОВАНИЕ ДЛЯ МАСТЕРСКИХ И МАШИННОЕ ОБОРУДОВАНИЕ
        </p>
      </div>
    </div>
  </div>

  <div class="col mb-4 px-3">
    <div class="card border-0">
      <div class="info-text">
        <img src="{{root}}assets/img/info.svg" />
        <div class="tooltip">
          Краткое описание услуги краткое описание услуги краткое услуги
          описание краткое описание услуги краткое описание
        </div>
      </div>
      <img
        src="{{root}}assets/img/5.svg"
        class="align-self-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0s"
        data-wow-offset="75"
        height="90"
        alt="loader-icon"
      />
      <div class="card-body text-center">
        <p
          class="text-uppercase wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          БУРОВЫЕ УСТАНОВКИ И ОБОРУДОВАНИЕ ДЛЯ БУРЕНИЯ НЕФТЯНЫХ СКВАЖИН
        </p>
      </div>
    </div>
  </div>

  <div class="col mb-4 px-3">
    <div class="card border-0">
      <div class="info-text">
        <img src="{{root}}assets/img/info.svg" />
        <div class="tooltip">
          Краткое описание услуги краткое описание услуги краткое услуги
          описание краткое описание услуги краткое описание
        </div>
      </div>
      <img
        src="{{root}}assets/img/6.svg"
        class="align-self-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0s"
        data-wow-offset="75"
        height="90"
        alt="buldozer-icon"
      />
      <div class="card-body text-center">
        <p
          class="text-uppercase wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          СТРОИТЕЛЬНОЕ ОБОРУДОВАНИЕ И СПЕЦТЕХНИКА
        </p>
      </div>
    </div>
  </div>

  <div class="col mb-4 px-3">
    <div class="card border-0">
      <div class="info-text">
        <img src="{{root}}assets/img/info.svg" />
        <div class="tooltip">
          Краткое описание услуги краткое описание услуги краткое услуги
          описание краткое описание услуги краткое описание
        </div>
      </div>
      <img
        src="{{root}}assets/img/7.svg"
        class="align-self-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0s"
        data-wow-offset="75"
        height="90"
        alt="greyder-icon"
      />
      <div class="card-body text-center">
        <p
          class="text-uppercase wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          ДВИГАТЕЛИ <br />И МЕХАНИЗМЫ
        </p>
      </div>
    </div>
  </div>

  <div class="col mb-4 px-3">
    <div class="card border-0">
      <div class="info-text">
        <img src="{{root}}assets/img/info.svg" />
        <div class="tooltip">
          Краткое описание услуги краткое описание услуги краткое услуги
          описание краткое описание услуги краткое описание
        </div>
      </div>
      <img
        src="{{root}}assets/img/8.svg"
        class="align-self-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0s"
        data-wow-offset="75"
        height="90"
        alt="treyler-icon"
      />
      <div class="card-body text-center">
        <p
          class="text-uppercase wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          ТЯЖЕЛОЕ <br />ОБОРУДОВАНИЕ И СПЕЦТЕХНИКА
        </p>
      </div>
    </div>
  </div>
</div>
