<h2
  class="text-gray text-center text-uppercase mb-5 wow fadeInUp"
  data-wow-duration="1s"
  data-wow-delay="0.36s"
>
  Our Services
</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 pt-5">
  <div class="col mb-5 px-3">
    <div class="card border-0">
      <div class="info-text">
        <img src="{{root}}assets/img/info.svg" />
        <div class="tooltip">
          <ul>
            <li>Drilling rig</li>
            <li>Drilling winch</li>
            <li>Top drive system or rotor with&nbsp;swivel</li>
            <li>Drilling wrench</li>
            <li>Spire coil</li>
            <li>Drilling pumps</li>
            <li>Equipment for drilling mud preparation</li>
            <li>Equipment for cleaning drilling mud from sludge, etc.</li>
          </ul>
        </div>
      </div>
      <img
        src="{{root}}assets/img/1.svg"
        class="align-self-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0s"
        data-wow-offset="75"
        height="90"
        alt="crane-icon"
      />
      <div class="card-body text-center">
        <p
          class="text-uppercase wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Well Drilling Equipment
        </p>
      </div>
    </div>
  </div>

  <div class="col mb-5 px-3">
    <div class="card border-0">
      <div class="info-text">
        <img src="{{root}}assets/img/info.svg" />
        <div class="tooltip">
          <ul>
            <li>Machines</li>
            <li>Pumps</li>
            <li>Compressor</li>
            <li>Tanks</li>
            <li>Reactors</li>
            <li>Heat exchangers, etc.</li>
          </ul>
        </div>
      </div>
      <img
        src="{{root}}assets/img/2.svg"
        class="align-self-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0s"
        data-wow-offset="75"
        height="90"
        alt="excavator-icon"
      />
      <div class="card-body text-center">
        <p
          class="text-uppercase wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Industrial Plant Equipment
        </p>
      </div>
    </div>
  </div>

  <div class="col mb-5 px-3">
    <div class="card border-0">
      <div class="info-text">
        <img src="{{root}}assets/img/info.svg" />
        <div class="tooltip">
          <ul>
            <li>Pipelines</li>
            <li>Compressor</li>
            <li>Pumps</li>
            <li>Flanges</li>
            <li>Electric and manual gate valves, etc.</li>
          </ul>
        </div>
      </div>
      <img
        src="{{root}}assets/img/3.svg"
        class="align-self-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0s"
        data-wow-offset="75"
        height="90"
        alt="crawler-icon"
      />
      <div class="card-body text-center">
        <p
          class="text-uppercase wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Oilfield and Natural Gas Equipment
        </p>
      </div>
    </div>
  </div>

  <div class="col mb-5 px-3">
    <div class="card border-0">
      <div class="info-text">
        <img src="{{root}}assets/img/info.svg" />
        <div class="tooltip">
          <ul>
            <li>Specialized machines</li>
            <li>Jacks</li>
            <li>Cranes</li>
            <li>Various drilling machines</li>
            <li>Welding machines</li>
          </ul>
        </div>
      </div>
      <img
        src="./{{root}}assets/img/4.svg"
        class="align-self-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0s"
        data-wow-offset="75"
        height="90"
        alt="dumper-icon"
      />
      <div class="card-body text-center">
        <p
          class="text-uppercase wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Workshop Equipment and&nbsp;Machinery
        </p>
      </div>
    </div>
  </div>

  <div class="col mb-4 px-3">
    <div class="card border-0">
      <div class="info-text">
        <img src="{{root}}assets/img/info.svg" />
        <div class="tooltip">
          <ul>
            <li>Wellheads</li>
            <li>Three-piston drilling pumps</li>
            <li>Engines (gas and diesel)</li>
            <li>
              Generator to ensure the operation of electric drives
              of&nbsp;equipment
            </li>
            <li>Drilling rig, etc.</li>
          </ul>
        </div>
      </div>
      <img
        src="{{root}}assets/img/5.svg"
        class="align-self-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0s"
        data-wow-offset="75"
        height="90"
        alt="loader-icon"
      />
      <div class="card-body text-center">
        <p
          class="text-uppercase wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Oil Drilling Rigs and&nbsp;Equipment
        </p>
      </div>
    </div>
  </div>

  <div class="col mb-4 px-3">
    <div class="card border-0">
      <div class="info-text">
        <img src="{{root}}assets/img/info.svg" />
        <div class="tooltip">
          <ul>
            <li>Trucks</li>
            <li>Tractors</li>
            <li>Cranes</li>
            <li>Excavators</li>
            <li>Loaders, etc.</li>
          </ul>
        </div>
      </div>
      <img
        src="{{root}}assets/img/6.svg"
        class="align-self-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0s"
        data-wow-offset="75"
        height="90"
        alt="buldozer-icon"
      />
      <div class="card-body text-center">
        <p
          class="text-uppercase wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Construction Equipment and&nbsp;Machinery
        </p>
      </div>
    </div>
  </div>

  <div class="col mb-4 px-3">
    <div class="card border-0">
      <div class="info-text">
        <img src="{{root}}assets/img/info.svg" />
        <div class="tooltip">
          <ul>
            <li>
              Electric; direct current (DC&nbsp;motor); alternating current
              (synchronous and&nbsp;asynchronous)
            </li>
            <li>Electrostatic</li>
            <li>Pneumatic</li>
            <li>Hydraulic</li>
            <li>Chemical</li>
          </ul>
        </div>
      </div>
      <img
        src="{{root}}assets/img/7.svg"
        class="align-self-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0s"
        data-wow-offset="75"
        height="90"
        alt="greyder-icon"
      />
      <div class="card-body text-center">
        <p
          class="text-uppercase wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Engines and Machinery
        </p>
      </div>
    </div>
  </div>

  <div class="col mb-4 px-3">
    <div class="card border-0">
      <div class="info-text">
        <img src="{{root}}assets/img/info.svg" />
        <div class="tooltip">
          <ul>
            <li>Bulldozers</li>
            <li>Dump trucks</li>
            <li>Cranes (over 100 tons)</li>
            <li>Forklifts</li>
            <li>Tractors, etc.</li>
          </ul>
        </div>
      </div>
      <img
        src="{{root}}assets/img/8.svg"
        class="align-self-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0s"
        data-wow-offset="75"
        height="90"
        alt="treyler-icon"
      />
      <div class="card-body text-center">
        <p
          class="text-uppercase wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          Heavy Equipment and&nbsp;Machinery
        </p>
      </div>
    </div>
  </div>
</div>
