<div class="row justify-content-center py-5 mb-5">
  <div class="col-xxl-10">
    <div class="row">
      <div class="col-sm-6 mb-4">
        <div
          class="card border-0 p-2 h-100 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          <div class="card-body p-3">
            <div class="row">
              <div class="col-lg-3 mb-4 mb-lg-0">
                <img src="{{root}}assets/img/eye.svg" alt="eye" />
              </div>
              <div class="col-lg-9">
                <h3>Vision</h3>
                <p>
                  To provide oil and gas companies all over the&nbsp;world with
                  the&nbsp;latest innovative equipment and help them to reach
                  sustainable development.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 mb-4">
        <div
          class="card border-0 p-2 h-100 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          <div class="card-body p-3">
            <div class="row">
              <div class="col-lg-3 mb-4 mb-lg-0">
                <img src="{{root}}assets/img/purpose.svg" alt="purpose" />
              </div>
              <div class="col-lg-9">
                <h3>Goal</h3>
                <p>
                  To introduce our innovative technologies into oil and gas
                  industry and thereby reduce environmental pollution.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 mb-4 mb-sm-0">
        <div
          class="card border-0 p-2 h-100 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          <div class="card-body p-3">
            <div class="row">
              <div class="col-lg-3 mb-4 mb-lg-0">
                <img src="{{root}}assets/img/mission.svg" alt="misson" />
              </div>
              <div class="col-lg-9">
                <h3>Mission</h3>
                <p>
                  Our mission is to deliver the necessary equipment and spare
                  parts in the shortest possible time and thereby contribute
                  to&nbsp;the&nbsp;development of&nbsp;the green economy
                  of&nbsp;our customers.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div
          class="card border-0 p-2 h-100 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          <div class="card-body p-3">
            <div class="row">
              <div class="col-lg-3 mb-4 mb-lg-0">
                <img src="{{root}}assets/img/strategy.svg" alt="strategy" />
              </div>
              <div class="col-lg-9">
                <h3>Strategy</h3>
                <p>
                  We want to instill a culture of continuous improvement and
                  development, to make the&nbsp;life of our customers a lot
                  easier.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
