<div class="row justify-content-center py-5 mb-5">
  <div class="col-xxl-10">
    <div class="row">
      <div class="col-sm-6 mb-4">
        <div
          class="card border-0 p-2 h-100 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          <div class="card-body p-3">
            <div class="row">
              <div class="col-lg-3 mb-4 mb-lg-0">
                <img src="{{root}}assets/img/eye.svg" alt="eye" />
              </div>
              <div class="col-lg-9">
                <h3>Видение</h3>
                <p>
                  Обеспечить нефтегазовые компании по&nbsp;всему миру новейшим
                  инновационным оборудованием и помочь им достичь устойчивого
                  развития.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 mb-4">
        <div
          class="card border-0 p-2 h-100 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          <div class="card-body p-3">
            <div class="row">
              <div class="col-lg-3 mb-4 mb-lg-0">
                <img src="{{root}}assets/img/purpose.svg" alt="purpose" />
              </div>
              <div class="col-lg-9">
                <h3>Цели</h3>
                <p>
                  Внедрить наши инновационные технологии в нефтегазовую
                  индустрию и&nbsp;тем самым уменьшить загрязнение окружающей среды.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 mb-4 mb-sm-0">
        <div
          class="card border-0 p-2 h-100 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          <div class="card-body p-3">
            <div class="row">
              <div class="col-lg-3 mb-4 mb-lg-0">
                <img src="{{root}}assets/img/mission.svg" alt="misson" />
              </div>
              <div class="col-lg-9">
                <h3>Миссия</h3>
                <p>
                  Наша миссия заключается в том чтобы доставлять нужное
                  оборудование и&nbsp;запчасти в кратчайшие сроки итем самым
                  способствовать развитию зелёной экономики наших клиентов.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div
          class="card border-0 p-2 h-100 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay="0s"
          data-wow-offset="75"
        >
          <div class="card-body p-3">
            <div class="row">
              <div class="col-lg-3 mb-4 mb-lg-0">
                <img src="{{root}}assets/img/strategy.svg" alt="strategy" />
              </div>
              <div class="col-lg-9">
                <h3>Стратегия</h3>
                <p>
                  Мы хотим привить культуру постоянного совершенствования и&nbsp;
                  развития, чтобы сделать жизнь наших клиентом намного проще.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
